<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}OTteR - Old Tweets Reviewer{% endblock %}</title>

    <style>
        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
            margin-top: 5%;
        }

        @media (max-width: 680px) {
            .container {
                margin-top: 1%;
            }
        }

        #progress {
            position: fixed;
            top: 0;
            left: 0;
            width: 0%;
            height: 5px;
            background-color: lightblue;
        }

        #progress_text {
            position: absolute;
            bottom: 10px;
            right: 20px;
            border-radius: 5px;
            border: 1px solid black;
            padding: 3px;
            background-color: white;
        }

        .twitter-tweet {
            margin: 0 auto;
        }

    </style>
</head>
<body>
{% if user.is_authenticated %}
    <div id="progress">

    </div>
{% endif %}

<main role="main" class="container">
    <h1>
        <span title="Old Tweets Reviewer">OTteR</span>
        <small style="font-size: 40%;">
            <a href="https://gitlab.com/mikulaspoul/otter" target="_blank">Source</a> | <a href="https://twitter.com/miki_cz" target="_blank">Author</a>
        </small>
    </h1>

    {% include "messages.html" %}
    {% block content %}

    {% endblock %}
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% block javascript %}
{% endblock %}
</body>
</html>