{% extends "base.html" %}

{% block content %}
    {% if not user.is_authenticated %}
        <p>
            This apps allows you to go through your tweets one by one and delete those you want.
            You just need to request your Twitter data and upload the list of tweets.
            Than the app shows you the tweets and allows you to delete some tweets, while remembering where you were for when you return in the future.
            The app stores the minimum amount of data possible while using the Twitter API as least as possible.
        </p>
    {% endif %}

    <div class="text-center">
        {% if not user.is_authenticated %}
            <hr>

            <a class="btn btn-primary" href="{% url "social:begin" "twitter" %}">Log in using twitter</a>

            <div class="text-left">
            <p>
                This app will ask for permissions to access your Twitter and manage it.
                However it only actually uses the permission to delete tweets.
            </p>

            <p>List of stored information</p>

            <ul>
                <li>Username</li>
                <li>Full name</li>
                <li>User ID</li>
                <li>List of tweet IDs and their date (only after upload of export)</li>
                <li>Total number of tweets</li>
            </ul>
            </div>
        {% else %}
            Logged in as <a href="https://twitter.com/{{ user.username }}">{{ user }}</a>.
            <a href="{% url "logout" %}">Logout</a>
        {% endif %}

        {% if user.is_authenticated %}
            <hr>

            {% if not user.tweet_set.count %}
                <a href="{% url "upload_export" %}" class="btn btn-primary">Upload export of twitter data</a>
            {% else %}

                <div class="btn-group">
                    <button type="button" class="btn btn-success">KEEP</button>
                    <button type="button" class="btn btn-danger">DELETE</button>
                </div>

                <div id="tweet-container">

                </div>

                <div id="progress_text">
                    <span class="processed"></span> of <span class="total"></span>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
<script sync src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
    let progress_el = $("#progress");
    let current_tweet = null;
    load_current = function () {
       if (!progress_el) {
           return;
       }

       let processed_el = $("#progress_text .processed");
       let total_el = $("#progress_text .total");

       $.ajax({
           "method": "GET",
           "url": "/current/",
       }).done(function (data) {
           if (data.expired) {
               window.location = "/";
               return;
           }

           processed = data.processed;
           progress = data.progress;
           total = data.total;
           tweet = data.tweet;

           current_tweet = tweet;

           progress_el.css("width", progress + "%");
           total_el.text(total);
           processed_el.text(processed);

           twttr.widgets.createTweet(tweet, document.getElementById("tweet-container"), {
               "conversation": "all",
               "cards": "visible",
           });
       })
    };

    action = function (t) {
        if (!current_tweet) {
            return;
        }
        $.ajax({
            "method": "GET",
            "url": "/" + t + "/",
            "data": {
                "tweet_id": current_tweet
            }
        }).done(function (response) {
            $("#tweet-container").empty();
            load_current()
        })
    };

    $(document).ready(load_current);
    $(".btn-group .btn-success").on("click", function () {
        action("keep")
    });
    $(".btn-group .btn-danger").on("click", function () {
        action("delete")
    });

</script>
{% endblock %}
