{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <p>
        Here you can upload the export of your tweets for them to be reviewed.
        This is necessary because you can only access the last 3200 tweets using the twitter API.
        The manual for requesting your Twitter data is <a href="https://help.twitter.com/en/managing-your-account/accessing-your-twitter-data" target="_blank">here</a>.
        You need to download it and upload the file <code>tweet.js</code>.
    </p>

    <form action="." method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="text-center">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </form>
{% endblock %}
